certifi==2024.8.30 ; python_version >= "3.10" and python_version < "3.14"
charset-normalizer==3.4.0 ; python_version >= "3.10" and python_version < "3.14"
idna==3.10 ; python_version >= "3.10" and python_version < "3.14"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.14"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.14"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.14"
urllib3==2.2.3 ; python_version >= "3.10" and python_version < "3.14"
validators==0.34.0 ; python_version >= "3.10" and python_version < "3.14"
